<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="example.hais.baseapp">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
<!--${applicationId} 不写死是为了不同的项目相互调用。而且如果不同的App定义一样的applicationId会导致后者无法安装-->
</manifest>
